<html>
	<head>
		
		<link rel="stylesheet" href ="../admin/styles/style.css">
    <link rel="stylesheet" href="../admin/styles/bootstrap.min.css">
		
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js'></script>
  		<script src='../admin/app/app.js'></script>
  		<script src='../admin/app/search.js'></script>
  		<script src='../admin/app/login.js'></script>
  		<script src='../admin/app/account.js'></script>
      <script src='../admin/app/cart.js'></script>
  		<script src="../admin/js/jquery.js"></script> 
  		<script src="../admin/js/knob.js"></script>
 		  <script src="../admin/js/spin.js"></script> 
		
	</head>


	<body ng-app="GetSearch" ng-controller="CartController" ng-init="init()">
	<div class="loading-overlay" ng-show="loading">
      <div spinner spin="loading"></div>
  </div>
		<div style="width:100%;padding:24px;background:#26a9e0;">
		<table style="float:right;margin-right:200px;font-size:20px;margin-top:60px">
		  	<tbody>
		  		<tr>
		  			<td><a href="login.html" style="text-decoration:none;color:white">Login</a>&nbsp&nbsp&nbsp</td>
		  			<td><a href="search.html" style="text-decoration:none;color:white">Search</a>&nbsp&nbsp&nbsp</td>
		  			<td><a href="account.html" style="text-decoration:none;color:white">Account</a>&nbsp&nbsp&nbsp</td>
		  		</tr>
		  	</tbody>
		  </table>
		  <img align="left" style="margin-right:18px" src="../admin/images/logo-white.png" />
		  <h1 style= "color:#fff">Get</h1>
		</div>
		
   	 	<div style="padding:24px">
   	 	  <div class="col-md-6">
            <h2 style="color:#069">Cart - {{ cart.id }}</h2>
            <h4>Status: {{ cart.status }}</h4>
            <h6>{{ cart.timestamp }}</h6>
            <br/>
            <div>
              <ol>
              <li ng-repeat="item in cart.items track by $index">
                <div style= "width:100%; padding:24px;">
                 <div style="width:60%">
                  <img align="right" style="max-width:180px;" src="{{ item.image }}?crop=240"/> 
                  <h3>Product Info</h3>   
                  Name: {{ item.name }} <br /> 
                  ID: {{ item.id }} <br /> 
                  Price: ${{ item.price }}
                 </div>
              </div>
              <hr/>
            </li>
          </ol>
            </div>
            <h4>Total: {{ cart.total }}</h4>
            <div style="width:80%">
		      <button class="btn" ng-click="registerCart()" style="color:#069" >Register Cart</button>
              <button class="btn" ng-click="getStatus()" style="color:#069" >Get Status</button>
              <button class="btn" ng-click="estimateTaxAndShipping()" style="color:#069" >Estimate Tax &amp; Shipping</button>
            </div>
		        <br /><br />
   	 	  </div>
      </div>
  	</body>
</html>