<html>
	<head>
		
		<link rel="stylesheet" href ="../admin/styles/style.css">
    	<link rel="stylesheet" href="../admin/styles/bootstrap.min.css">
		
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js'></script>
  		<script src='../admin/app/app.js'></script>
  		<script src='../admin/app/search.js'></script>
  		<script src='../admin/app/login.js'></script>
  		<script src='../admin/app/account.js'></script>
      <script src='../admin/app/cart.js'></script>
      <script src="../admin/js/jquery.js"></script> 
      <script src="../admin/js/knob.js"></script>
      <script src="../admin/js/spin.js"></script>

		
	</head>


	<body ng-app="GetSearch" ng-controller="LoginController" ng-init="init()">
    <div class="loading-overlay" ng-show="loading">
      <div spinner spin="loading"></div>
    </div>
		<div style="width:100%;padding:24px;background:#26a9e0;">
      <table style="float:right;margin-right:200px;font-size:20px;margin-top:60px">
        <tbody>
          <tr>
            <td><a href="login.html" style="text-decoration:none;color:white">Login</a>&nbsp&nbsp&nbsp</td>
            <td><a href="search.html" style="text-decoration:none;color:white">Search</a>&nbsp&nbsp&nbsp</td>
            <td><a href="account.html" style="text-decoration:none;color:white">Account</a>&nbsp&nbsp&nbsp</td>
          </tr>
        </tbody>
      </table>
		  <img align="left" style="margin-right:18px" src="..//admin/images/logo-white.png" />
		  <h1 style= "color:#fff">Get</h1>
		</div>
		
		
   	 	<div style="padding:24px">
   	 	  <div class="col-md-8">
            <h2 style="color:#069">Login</h2>
            
            <div style="width:50%">
              <input ng-model="profile.email" class="form-control" placeholder="Email" type="text" /><br />
              <input ng-model="profile.password" class="form-control" placeholder="Password" type="password" /><br />

		      <button class="btn" ng-click="login()" style="color:#069" >Log In</button>
            </div>
		    <br /><br />
   	 	  
   	 	  
   	 	  </div>

   	 	  <div class="col-md-8">
            <h2 style="color:#069">Register</h2>
            
            <div style="width:50%">
              <input ng-model="newUser.firstName" class="form-control" placeholder="First Name" type="text" /><br />
              <input ng-model="newUser.lastName" class="form-control" placeholder="Last Name" type="text" /><br />
              <input ng-model="newUser.email" class="form-control" placeholder="Email" type="text" /><br />
              <input ng-model="newUser.password" class="form-control" placeholder="Password" type="password" /><br />

		      <button class="btn" ng-click="register()" style="color:#069" >Register</button>
            </div>
		    <br /><br />
   	 	  
   	 	  
   	 	  </div>
   	 	
        </div>
		
  	</body>
	
</html>